body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-image: url("../image/mountains-3.jpg");
  background-repeat: no-repeat;
  background-size: fill;
}
h1 {
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
  font-size: 39px;
  font-weight: 500;
  line-height: 47px;
}
h3 {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
}
a {
  color: #c1b7d8;
}
.todays-weather {
  max-width: 700px;
  margin: 30px auto;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 15px;
}
.todays-weather i {
  margin-right: 10px;
  margin-top: 20px;
  font-size: 50px;
  position: relative;
  top: 10px;
}
.weather-temp-today strong {
  font-size: 50px;
  margin-top: 20px;
  line-height: 50px;
  position: relative;
  top: 10px;
  text-align: center;
}
.weather-temp-today .units {
  font-size: 14px;
  position: relative;
  top: 34px;
  margin: 5px;
}
.forcast-ahead {
  max-width: 700px;
  margin: 30px auto;
  padding: 20px;
  color: #ffffff;
  text-align: center;
}
.forcast-ahead i {
  font-size: 30px;
  margin-bottom: 15px;
}
.forcast-temp {
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}
.weather-description {
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 0px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
}
.weather-details {
  text-align: right;
}
